#### Write a Python Program to implement your own myreduce() function which works exactly like Python's built-in function reduce()

In [42]:
def myreduce(my_list,operation):
    ans_string = ''
    ans = 0
    if operation == "+":
        #ans = 0
        if type(my_list[0]) == int:
            for i in my_list:
                ans = ans+i
            return ans
        else:
            for i in my_list:
                ans_string = ans_string+i
            return ans_string
    elif operation == "*":
        ans = 1;
        for i in my_list:
            ans = ans*i
        return ans
    elif operation == 'max':
        return max(my_list)
    elif operation == 'min':
        return min(my_list)

In [43]:
print(myreduce(["geeks", "for", "geeks"],'+'))

geeksforgeeks

In [44]:
print(myreduce([20,20,50],'+'))

90

#### 1.2 Write a Python program to implement your own myfilter() function which works exactly like Python's built-in function filter()

In [46]:
seq = [0, 1, 2, 3, 5, 8, 13]
def myfilter(seq):
    even = []
    odd = []
    for i in seq:
        if i%2==0:
            even.append(i)
        else:
            odd.append(i)
    
    return odd,even

output = myfilter(seq)

print('odd list ',output[0])
print('even list ',output[1])

odd list  [1, 3, 5, 13]
even list  [0, 2, 8]

#### Implement List comprehensions to produce the following lists. Write List comprehensions to produce the following Lists

#### ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [54]:
input_list = ['x','y','z']
my_list = [i*j for i in input_list for j in range(1,5) ]

In [55]:
my_list

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

#### ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [56]:
input_list = ['x','y','z']
my_list = [i*j for i in range(1,5) for j in input_list ]
my_list

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

#### [[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [61]:
A = [2,3,4]
out = [[i+n] for i in A for n in range(0,3)]

In [62]:
out

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

####  [[2, 3, 4, 5], [3, 4, 5, 6],[4, 5, 6, 7], [5, 6, 7, 8]]

In [65]:
A = [2,3,4,5]
p = []
p = [[i+j for i in range(0,4) ]for j in A]
    
        
        
print(p)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

#### [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [67]:
A = [1,2,3]

out = [(b,a) for a in A for b in A]
out

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]